<ion-view view-title="Thông tin mới">
    <ion-content>

        <div class="row">
            <div class="col">
                <button class="button button-full button-icon icon ion-compose  button-small" ui-sref="app.home.newfeed"> Đăng bài</button>
            </div>
            <div class="col">
                <button class="button  button-full button-icon icon ion-android-search button-small">Tìm kiếm</button>
            </div>
        </div>

        <div class="list" ng-repeat="feed in cachedFeeds">
            <div class="card">

                <div class="item item-avatar">
                    <img src="{{feed.sender.avatar}}">
                    <h2>{{feed.sender.name}}</h2>
                    <p>{{feed.time}}</p>
                </div>

                <div class="item item-body" style="margin-top: -40px">

                    <p>{{feed.status}}</p>
                    <p>
                        <i class="icon ion-map" style="color: darkgreen"> Bản đồ</i>
                        <i class="icon ion-calendar" style="color: darkgreen"> Lịch</i>
                    </p>
                    <button class="button  button-full button-outline button-balanced">{{feed.commentCount}} Comment</button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
