<ion-view view-title="Ionic Components+">
	<ion-content>
		<div class="tabs-striped tabs-top tabs-background-balanced tabs-color-light">
			<div class="tabs">
				<a class="tab-item" href="#">
					<i class="icon ion-navicon-round"></i>
					Menu
				</a>	
				<a class="tab-item active" href="#">
					<i class="icon ion-home"></i>
					BPair
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-ios-chatboxes-outline"></i>
					Tin nhắn
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-android-people"></i>
					Bạn bè
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>