
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/1.2.4/css/ionic.min.css">
	</head>
	<body>
		<div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Trang đăng nhập</strong>
            <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Tài khoản</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Mật khẩu</span>
    <input type="text" placeholder="Last Name">
  </label>
  <button class="button button-light">
  Đăng nhập
</button>
</div>
        </div>
	</body>
	<script src="http://code.ionicframework.com/1.2.4/js/ionic-angular.min.js"></script>
	<script src="http://code.ionicframework.com/1.2.4/js/ionic.min.js"></script>
</html>
</!DOCTYPE>


